<html>
<head>
	<link rel=stylesheet href="{{url_for('static',filename='tyylit.css')}}">
</head>
<body>
	<h1>Aikataulut pysäkille <a href="{{url}}">{{pysakki}}</a></h1>
	<table>
	<tr><th>kellonaika</th><th>linja</th><th>mihin</th></tr>
	{% for pysahdys in pysahdykset %}
	<tr><td>{{ "%02d:%02d" % (pysahdys['realtimeDeparture'] // 3600,
			pysahdys['realtimeDeparture'] // 60 % 60) }}</td>
	<td>{{ pysahdys['trip']['pattern']['route']['mode'] }}
		{{ pysahdys['trip']['pattern']['route']['shortName'] }}</td>
	<td>{{ pysahdys['headsign'] }}</td></tr>
	{% endfor %}
	</table>
</body>
</html>
